:root{
  box-sizing: border-box;
}

div{
  border: 1px dashed hsl(200,60%,30%)
}
img{
  width: 100%;
}
.footer{
  font-size: .5rem;
  background: hsla(200, 30%, 50%,.5);
}

.footer-off{
  display:none;
}

.fieldguide-item{
  padding: 1rem;
  border-radius: .5rem;
  width: 50%;
  background: hsla(50,60%,40%,.2);
}
.fieldguide-item:hover{
  background: hsla(50,30%,40%,.4);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

