div{
  border: 1px dashed hsl(200,60%,30%)
}

.footer{
  font-size: .5rem;
  background: hsla(200, 30%, 50%,.5);
}

.footer-off{
  display:none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

